@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

.leaflet-control {
    display: none;
}

.modal{
    z-index: 99999999;
}

.button{
    border:4px solid #1F77BD;
    border-radius: 40px;
    text-align: center;
    margin: 1rem 2rem;
    padding: 0.5rem 2rem;
}

.navx{
    position: fixed;
    background-color: #fff;
    width: 100%;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 9999999;
}

.navx img{
    height: 4rem;
}

.navx a{
    color: #000;
    margin-left: 2rem;
    padding: 0.5rem 2rem;
    border: 4px solid #1F77BD;
    border-radius: 40px;
}

.formx{
    margin: 2rem;
}

.formx input{
    padding: 0.5rem 2rem;
    border: 4px solid #1F77BD;
    border-radius: 40px;
    display: block;
    margin-bottom: 1rem;
}

.formx input::placeholder{
    font-weight: bold;
}

.formx input:focus{
    outline: none;
}

.formx input[type=submit]{
    background-color: #1F77BD;
    color: #fff;
    font-weight: bold;
}

.map{
    width: 100%;
    padding: 6rem 2rem 2rem;
    height: 70vh;
    background-image: url("assets/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#find{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0rem;
    background-image: url("assets/bg.png");
    border-radius: 1rem;
    padding: 2rem;
    z-index: 9999;
}

#find form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#find form span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#find input{
    border: 3px solid #1F77BD;
    padding: 0.5rem 1rem;
    border-radius: 30px;
    margin-bottom: 1rem;
}

#find input[type=submit]{
    background-color: #1F77BD;
    color: #fff;
    width: 33%;
    align-self: flex-end;
}

#find input[type=radio]{
    margin-right: 0.5rem;
}

#mapid {
    width: 100%; 
    height: 100%;
    border-radius: 1rem;
    z-index: 2;
    position: relative;
}

.popular{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular i{
    font-size: 2rem;
    margin-left: 2rem;
}

.swiper-container {
    padding: 0 2rem;
    width: 100%;
    height: 300px;
}

#destination{
    width: 25%;
    background-color: #000;
    border-radius: 1rem;
}

#destination img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.middle{
    margin-top: 2rem;
    width: 100%;
    background-image: url("assets/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.review{
    padding: 2rem 0;
    text-align: center;
}

.review h3{
    margin: 0 0 2rem;
}

#reviews{
    width: 50%;
    border-radius: 1rem;
}

#reviews img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 1rem;
}

.join{
    padding: 2rem;
}

#partner{
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#partner ul{
    padding-left: 2rem;
}

#reg{
    padding: 2rem;
    border-radius: 1rem;
    background-image: url("assets/image2.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#reg form{
    width: 100%;
}

#reg input{
    width: 100%;
    padding: 0.5rem 2rem;
    border: 4px solid #fff;
    border-radius: 40px;
    display: block;
    margin-bottom: 1rem;
    background-color: transparent;
    color: #fff;
}

#reg input::placeholder{
    color: #fff;
}

#reg input[type=submit]{
    width: 33%;
    float: right;
    background-color: #fff;
    color: #000;
    margin-bottom: 0;
}

.row{
    display: flex;
    justify-content: space-around;
}

.who{
    padding: 2rem 0;
    text-align: center;
}

#we{
    width: 100%;
    background-image: url("assets/image1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 2rem;
}

#we i{
    font-size: 8rem;
}

.whoweare h3{
    padding: 0 2rem;
    display: inline-block;
    margin-bottom: 2rem;
}

.whoweare i{
    float: right;
    font-size: 2rem;
    margin-right: 2rem;
}

@media screen and (max-width: 768px){
    #help{
        display: none;
    }
}