*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  font-family: "Lato", sans-serif;
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1400px) {
  html {
    font-size: 58%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56%;
  }
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 54%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 52%;
  }
}

body {
  width: 100%;
  height: 100vh;
  background-color: #262c3c;
}

.render {
  width: 95%;
  margin: 0 auto;
  height: 100vh;
  background-color: #151924;
}

.render img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .render {
    height: auto;
  }

  .render img {
    height: auto;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.follow {
  position: fixed;
  left: 0;
  top: 0;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #316cff;
  border-radius: 100%;
  -webkit-transition: -webkit-transform 0.1s ease;
  transition: -webkit-transform 0.1s ease;
  transition: transform 0.1s ease;
  transition: transform 0.1s ease, -webkit-transform 0.1s ease;
  z-index: 10000;
  pointer-events: none;
  will-change: transform;
}

.primary-heading {
  color: white;
  font-size: 3.6rem;
  font-weight: 300;
  line-height: 1.5;
  text-transform: capitalize;
}

.primary-heading .blue {
  color: #316cff;
}

.primary-heading .gray {
  color: #bfc1c7;
}

.primary-heading--dark {
  color: #151924;
}

.primary-heading--big {
  font-size: 4rem;
}

@media only screen and (max-width: 1921px) {
  .primary-heading--big {
    font-size: 3.8rem !important;
  }
}

@media only screen and (max-width: 1800px) {
  .primary-heading--big {
    font-size: 3.6rem !important;
  }
}

@media only screen and (max-width: 1400px) {
  .primary-heading--big {
    font-size: 3.2rem !important;
  }
}

@media only screen and (max-width: 450px) {
  .primary-heading--big {
    font-size: 3rem !important;
  }
}

@media only screen and (max-width: 350px) {
  .primary-heading--big {
    font-size: 2.8rem !important;
  }
}

@media only screen and (max-width: 1921px) {
  .primary-heading {
    font-size: 3.4rem;
  }
}

@media only screen and (max-width: 1800px) {
  .primary-heading {
    font-size: 2.8rem;
  }
}

@media only screen and (max-width: 600px) {
  .primary-heading {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 330px) {
  .primary-heading {
    font-weight: 400;
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 370px) {
  .primary-heading br {
    display: none;
  }
}

.secondary-heading {
  color: #151924;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.7;
}

@media only screen and (max-width: 1800px) {
  .secondary-heading {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .secondary-heading {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 330px) {
  .secondary-heading {
    font-weight: 400;
    font-size: 2rem;
  }
}

.xl-heading {
  color: white;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1.7;
  -webkit-transform-origin: 47.8% 45%;
  transform-origin: 47.8% 45%;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .xl-heading {
    font-size: 6rem;
  }
}

@media only screen and (max-width: 400px) {
  .xl-heading {
    font-size: 5rem;
  }
}

.paragraph {
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7;
}

.paragraph--dark {
  color: #151924;
}

.paragraph--big {
  font-size: 1.8rem;
}

.big-circle {
  height: 100vh;
  position: fixed;
  top: -40%;
  left: -15%;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .big-circle {
    left: -40%;
  }
}

@media only screen and (max-width: 700px) {
  .big-circle {
    height: 100vh;
    left: -70%;
  }
}

@media only screen and (max-width: 500px) {
  .big-circle {
    height: 100vh;
    left: -130%;
  }
}

.container {
  width: 90vw;
  height: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 5rem 10rem;
  position: relative;
}

@media only screen and (max-width: 1921px) {
  .container {
    max-width: 1350px;
  }
}

@media only screen and (max-width: 1400px) {
  .container {
    max-width: 1100px;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 7.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 5rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 4rem 3rem;
  }
}

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn-container {
  display: inline-block;
  width: 30rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  -webkit-transform: translate(-7.5rem, -5rem);
  transform: translate(-7.5rem, -5rem);
}

@media only screen and (max-width: 1024px) {
  .btn-container {
    -webkit-transform: none;
    transform: none;
    text-align: center;
    width: 100%;
    height: auto;
  }
}

.btn-container:hover .btn:before {
  -webkit-transform: translate(-50%, -5rem);
  transform: translate(-50%, -5rem);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    from(#316cff),
    to(#193680)
  );
  background: linear-gradient(to right bottom, #316cff, #193680);
  border-radius: 2.2rem;
  padding: 2rem 3.8rem;
  outline: none;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn:hover:before {
  -webkit-transform: translate(-50%, -5rem);
  transform: translate(-50%, -5rem);
}

.btn--inactive {
  background: rgba(255, 255, 255, 0.1) !important;
}

.btn--inactive:before {
  background-color: #316cff;
}

.btn--shadow {
  -webkit-box-shadow: 0 1rem 3rem rgba(49, 108, 255, 0.3);
  box-shadow: 0 1rem 3rem rgba(49, 108, 255, 0.3);
}

@media only screen and (max-width: 1600px) {
  .btn {
    padding: 1.3rem 3.5rem;
  }
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -25rem);
  transform: translate(-50%, -25rem);
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  background-color: #151924;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: -1;
}

.mtb-0 {
  margin: 3rem 0 4rem;
}

@media only screen and (max-width: 1600px) {
  .mtb-0 {
    margin: 2rem 0 3rem;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero {
  width: 95%;
  height: 97.5vh;
  margin: 0 auto;
  background: rgba(32, 38, 56, 0.9) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
  position: relative;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
  margin-top: 2.5vh !important;
}

@media only screen and (max-width: 1024px) {
  #hero {
    height: auto;
  }
}

.logo-link {
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  will-change: transform;
}

.logo-link:hover {
  -webkit-transform: translateY(-1rem);
  transform: translateY(-1rem);
}

@media only screen and (max-width: 1600px) {
  .logo-img {
    width: 9rem;
  }
}

@media only screen and (max-width: 1400px) {
  .logo-img {
    width: 8rem;
  }
}

@media only screen and (max-width: 400px) {
  .logo-img {
    width: 7rem;
  }
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 3rem;
}

@media only screen and (max-width: 1400px) {
  .navbar {
    padding-top: 1rem;
  }
}

@media only screen and (max-width: 1024px) {
  .navbar {
    padding-top: 0;
  }
}

.navigation {
  width: 5rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}

@media only screen and (max-width: 1600px) {
  .navigation {
    width: 4rem;
    height: 4rem;
  }
}

.navigation-icon {
  width: inherit;
  height: 1px;
  background-color: white;
  position: relative;
  -webkit-transform: translateY(-0.45rem);
  transform: translateY(-0.45rem);
}

@media only screen and (max-width: 1300px) {
  .navigation-icon {
    -webkit-transform: translateY(-0.35rem);
    transform: translateY(-0.35rem);
  }
}

.navigation-icon:after {
  content: "";
  position: absolute;
  top: 0.9rem;
  left: 0;
  width: inherit;
  height: 1px;
  background-color: white;
}

@media only screen and (max-width: 1600px) {
  .navigation-icon:after {
    top: 0.8rem;
  }
}

@media only screen and (max-width: 1300px) {
  .navigation-icon:after {
    top: 0.7rem;
  }
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .hero-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding-top: 10rem;
  }
}

@media only screen and (min-width: 1024px) {
  .hero-left {
    -webkit-transform: translateY(4rem);
    transform: translateY(4rem);
  }
}

@media only screen and (max-width: 1024px) {
  .hero-left {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero-left {
    margin-bottom: 6rem;
  }
}

.hero-right-inner {
  -webkit-transform: rotateZ(-10deg) translateY(3rem) !important;
  transform: rotateZ(-10deg) translateY(3rem) !important;
}

@media only screen and (max-width: 1200px) {
  .hero-right-inner {
    -webkit-transform: rotateZ(-10deg) translateX(10rem) !important;
    transform: rotateZ(-10deg) translateX(10rem) !important;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-right-inner {
    -webkit-transform: rotateZ(-10deg) translate(28%, 3rem) !important;
    transform: rotateZ(-10deg) translate(28%, 3rem) !important;
  }
}

.card-holder--single {
  -webkit-transform: translate(0, -25%) !important;
  transform: translate(0, -25%) !important;
}

@media only screen and (max-width: 1400px) {
  .card-holder--single {
    -webkit-transform: translate(0, -20%) !important;
    transform: translate(0, -20%) !important;
  }
}

@media only screen and (max-width: 1200px) {
  .card-holder--single {
    -webkit-transform: translate(0, -10%) !important;
    transform: translate(0, -10%) !important;
  }
}

@media only screen and (max-width: 1024px) {
  .card-holder--single {
    -webkit-transform: translate(-20%, 0) !important;
    transform: translate(-20%, 0) !important;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 1000px) {
  .card-holder--single {
    -webkit-transform: translate(-15%, 0) !important;
    transform: translate(-15%, 0) !important;
    margin-bottom: 10rem;
  }
}

.card-holder:first-child {
  -webkit-transform: translate(0, 57.5%);
  transform: translate(0, 57.5%);
}

.card-holder:last-child {
  -webkit-transform: translate(-20%, -97%);
  transform: translate(-20%, -97%);
}

.card {
  width: 115%;
  height: 110%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(131, 131, 131, 0.3)),
    to(rgba(255, 255, 255, 0.6))
  );
  background: linear-gradient(
    to right,
    rgba(131, 131, 131, 0.3),
    rgba(255, 255, 255, 0.6)
  );
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.05);
  padding: 2rem 2rem 2rem 0;
}

@media only screen and (max-width: 1921px) {
  .card {
    width: 100%;
    height: 95%;
  }
}

@media only screen and (max-width: 1600px) {
  .card {
    width: 85%;
    height: 80%;
  }
}

@media only screen and (max-width: 1400px) {
  .card {
    width: 80%;
    height: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .card {
    border-radius: 1rem;
    width: 70%;
    height: 35%;
  }
}

@media only screen and (max-width: 450px) {
  .card {
    padding: 1rem 1rem 1rem 0;
  }
}

.card-inner {
  width: 100%;
  height: 100%;
}

.hero-img {
  width: 62.5rem;
}

@media only screen and (max-width: 1921px) {
  .hero-img {
    width: 55rem;
    -webkit-transform: translate(-2.5rem, 5rem);
    transform: translate(-2.5rem, 5rem);
  }
}

@media only screen and (max-width: 1600px) {
  .hero-img {
    width: 55rem;
    -webkit-transform: translate(-5rem, 5rem);
    transform: translate(-5rem, 5rem);
  }
}

@media only screen and (max-width: 1400px) {
  .hero-img {
    width: 50rem;
    -webkit-transform: translate(-5rem, 5rem);
    transform: translate(-5rem, 5rem);
  }
}

@media only screen and (max-width: 1200px) {
  .hero-img {
    width: 45rem;
  }
}

@media only screen and (max-width: 1024px) {
  .hero-img {
    -webkit-transform: none;
    transform: none;
  }
}

@media only screen and (max-width: 500px) {
  .hero-img {
    width: 42.5rem;
  }
}

@media only screen and (max-width: 450px) {
  .hero-img {
    width: 37.5rem;
  }
}

.hero-left-img {
  width: 17.5rem;
}

@media only screen and (max-width: 1400px) {
  .hero-left-img {
    width: 15rem;
  }
}

.hero-decoration {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: -1;
}

@media only screen and (max-width: 1024px) {
  .hero-decoration {
    display: none;
  }
}

.hero-decoration-mobile {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

@media only screen and (min-width: 1025px) {
  .hero-decoration-mobile {
    display: none;
  }
}

@media only screen and (max-width: 700px) {
  .hero-decoration-mobile {
    width: 200vw;
  }
}

@media only screen and (max-width: 500px) {
  .hero-decoration-mobile {
    width: 300vw;
  }
}

.hero-bottom {
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .hero-bottom {
    display: none;
  }
}

.scroll-bottom-img {
  -webkit-animation: blink 3s ease-in-out infinite;
  animation: blink 3s ease-in-out infinite;
  margin-right: 3rem;
}

@media only screen and (max-width: 1921px) {
  .scroll-bottom-img {
    width: 9rem;
  }
}

@media only screen and (max-width: 1600px) {
  .scroll-bottom-img {
    width: 8rem;
  }
}

@media only screen and (max-width: 1024px) {
  .scroll-bottom-img {
    display: none;
  }
}

.play-btn {
  position: absolute;
  bottom: -20%;
  right: 5%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 10rem;
  height: 10rem;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-animation: changeColor 3s ease-in-out infinite;
  animation: changeColor 3s ease-in-out infinite;
}

@media only screen and (max-width: 1921px) {
  .play-btn {
    width: 9rem;
    height: 9rem;
  }
}

@media only screen and (max-width: 1600px) {
  .play-btn {
    width: 8rem;
    height: 8rem;
    right: 10%;
    bottom: -22%;
  }
}

@media only screen and (max-width: 1024px) {
  .play-btn {
    top: 80%;
    left: 50%;
  }
}

@-webkit-keyframes changeColor {
  50% {
    background-color: rgba(21, 25, 36, 0.5);
  }
}

@keyframes changeColor {
  50% {
    background-color: rgba(21, 25, 36, 0.5);
  }
}

#features {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.feature {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  color: white;
  will-change: transform, height;
}

.feature--glassmorphism {
  background: rgba(32, 38, 56, 0.9) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
}

.feature--dark {
  background-color: #151924;
}

.feature--blue {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#316cff),
    to(#1d3d8f)
  );
  background: linear-gradient(to bottom, #316cff, #1d3d8f);
}

.feature--white {
  background-color: white;
  color: #151924;
}

.feature-base {
  height: 100%;
}

.feature-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 90vw;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 1800px) {
  .feature-inner {
    max-width: 900px;
  }
}

.feature-img {
  height: 60rem;
}

@media only screen and (max-width: 1921px) {
  .feature-img {
    height: 50rem;
  }
}

@media only screen and (max-width: 1600px) {
  .feature-img {
    height: 42.5rem;
  }
}

@media only screen and (max-width: 1600px) {
  .feature-img {
    height: 42.5rem;
  }
}

@media only screen and (max-height: 700px) {
  .feature-img {
    height: 30rem;
  }
}

@media only screen and (max-width: 786px) {
  .feature-img {
    height: 50rem;
  }
}

@media only screen and (max-height: 400px) {
  .feature-img {
    display: none;
  }
}

.feature-decoration {
  position: absolute;
}

@media only screen and (max-width: 1921px) {
  .feature-decoration--1,
  .feature-decoration--2 {
    width: 6rem !important;
  }
  .feature-decoration--3,
  .feature-decoration--4 {
    width: 4rem !important;
  }
}

@media only screen and (max-width: 700px) {
  .feature-decoration--1,
  .feature-decoration--2 {
    width: 5rem !important;
    display: none;
  }
}

@media only screen and (max-width: 330px) {
  .feature-decoration--1,
  .feature-decoration--2 {
    width: 4rem !important;
    display: none;
  }
  .feature-decoration--3,
  .feature-decoration--4 {
    width: 3rem !important;
  }
}

.feature-decoration--1 {
  top: 25%;
  left: 12%;
  width: 7.5rem;
  -webkit-animation: flip 5s infinite;
  animation: flip 5s infinite;
}

@media only screen and (max-width: 700px) {
  .feature-decoration--1 {
    top: 35%;
  }
}

@media only screen and (max-width: 330px) {
  .feature-decoration--1 {
    top: 50%;
    left: 5%;
  }
}

.feature-decoration--2 {
  top: 20%;
  right: 12%;
  width: 7.5rem;
  -webkit-animation: jump 5s ease infinite;
  animation: jump 5s ease infinite;
}

@media only screen and (max-width: 700px) {
  .feature-decoration--2 {
    top: 30%;
  }
}

@media only screen and (max-width: 330px) {
  .feature-decoration--2 {
    top: 45%;
    right: 5%;
  }
}

.feature-decoration--3 {
  bottom: 25%;
  left: 5%;
  width: 6rem;
}

@media only screen and (max-width: 1921px) {
  .feature-decoration--3 {
    left: 10%;
  }
}

@media only screen and (max-width: 330px) {
  .feature-decoration--3 {
    bottom: 12%;
    left: 2.5%;
  }
}

.feature-decoration--4 {
  bottom: 30%;
  right: 7.5%;
  width: 5rem;
}

@media only screen and (max-width: 1921px) {
  .feature-decoration--4 {
    right: 10%;
  }
}

@media only screen and (max-width: 330px) {
  .feature-decoration--4 {
    bottom: 15%;
    right: 2.5%;
  }
}

@-webkit-keyframes flip {
  10% {
    -webkit-transform: rotateZ(75deg);
    transform: rotateZ(75deg);
  }
  20% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes flip {
  10% {
    -webkit-transform: rotateZ(75deg);
    transform: rotateZ(75deg);
  }
  20% {
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes jump {
  50% {
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes jump {
  50% {
    -webkit-transform: translateY(-4rem);
    transform: translateY(-4rem);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}

.feature-btns {
  margin: 3rem 0 7.5rem;
}

.feature-btn:not(:last-child) {
  margin-right: 2.5rem;
}

@media only screen and (max-width: 1600px) {
  .feature-btn:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.feature-btn img {
  -webkit-transition: -webkit-transform 1.5s ease;
  transition: -webkit-transform 1.5s ease;
  transition: transform 1.5s ease;
  transition: transform 1.5s ease, -webkit-transform 1.5s ease;
}

@media only screen and (max-width: 1600px) {
  .feature-btn img {
    width: 6rem;
  }
}

@media only screen and (max-width: 330px) {
  .feature-btn img {
    width: 5rem;
  }
}

.feature-btn:hover img {
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
}

#card-features {
  width: 95%;
  margin: 0 auto;
  background-color: #151924;
  padding-bottom: 5rem;
  margin-top: 0rem;
  position: relative;
  overflow-x: hidden;
}

@media only screen and (max-height: 1024px) {
  #card-features {
    margin-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  #card-features {
    margin-top: -15rem;
  }
}

@media only screen and (max-width: 330px) {
  #card-features {
    margin-top: -10rem;
    padding-bottom: 10rem;
  }
}

.card-feature-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: translateX(6%);
  transform: translateX(6%);
  position: relative;
  z-index: 2;
}

.card-feature-group:not(:last-child) {
  margin-bottom: 5rem;
}

@media only screen and (max-width: 1200px) {
  .card-feature-group {
    -webkit-transform: translateX(8%);
    transform: translateX(8%);
  }
}

@media only screen and (max-width: 1050px) {
  .card-feature-group {
    -webkit-transform: translateX(3%);
    transform: translateX(3%);
  }
}

@media only screen and (max-width: 750px) {
  .card-feature-group {
    display: none;
  }
}

.card-features-container {
  width: 90vw;
  max-width: 900px;
  margin: 0 auto;
}

@media only screen and (max-width: 1050px) {
  .card-features-container {
    max-width: 700px;
  }
}

.card-features-heading {
  text-align: center;
  color: white;
  font-size: 2.8rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 8rem;
}

.card-feature {
  display: inline-block;
  width: 40rem;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#202635),
    color-stop(61%, rgba(21, 25, 36, 0))
  );
  background: linear-gradient(90deg, #202635 0%, rgba(21, 25, 36, 0) 61%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 5rem;
  border-radius: 3rem;
}

@media only screen and (max-width: 1600px) {
  .card-feature {
    width: 50rem;
  }
}

@media only screen and (max-width: 1200px) {
  .card-feature {
    width: 55rem;
  }
}

.card-feature-img {
  width: 10rem;
  height: 7rem;
  margin-right: 4rem;
}

.card-feature-img-mobile {
  width: 20rem;
  height: 12.5rem;
  margin-bottom: 5rem;
}

.swiper-container {
  width: 100%;
  height: 50rem;
}

@media only screen and (min-width: 751px) {
  .swiper-container {
    display: none;
  }
}

.swiper-slide {
  text-align: center;
  background-color: #151924;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

#general-features {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  background-color: #151924;
  overflow: hidden;
  position: relative;
  z-index: 3;
}

.general-features-container {
  width: 800%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
}

.general-feature-bg {
  color: rgba(255, 255, 255, 0.01);
  font-size: 20vw;
  font-weight: 700;
  line-height: 1;
  position: absolute;
  top: 30%;
  left: 1%;
  z-index: -1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.general-feature {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10rem;
}

.general-feature .paragraph {
  max-width: 70rem;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .general-feature .paragraph {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .general-feature .paragraph {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {
  .general-feature {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media only screen and (max-width: 700px) {
  .general-feature {
    padding: 5rem;
  }
}

@media only screen and (max-width: 400px) {
  .general-feature {
    padding: 5rem 4rem;
  }
}

@media only screen and (max-width: 330px) {
  .general-feature {
    padding: 1rem 3rem 2rem;
  }
}

.general-feature-left,
.general-feature-right {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.general-feature-left {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  .general-feature-left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 330px) {
  .general-feature-left {
    margin-top: 2rem;
  }
}

.general-feature-right {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media only screen and (max-width: 1024px) {
  .general-feature-right {
    -webkit-box-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
    margin-top: 3rem;
  }
}

.general-feature-indicator {
  color: white;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 1.7;
}

.general-feature-indicator .indicator {
  font-weight: 300;
  font-size: 1vw;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 1024px) {
  .general-feature-indicator {
    font-size: 2.8rem;
  }
  .general-feature-indicator .indicator {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 400px) {
  .general-feature-indicator {
    font-size: 2.4rem;
  }
  .general-feature-indicator .indicator {
    font-size: 2rem;
  }
}

.general-feature-heading {
  color: white;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.3;
  margin: 3rem 0;
  text-transform: capitalize;
  color: #316cff;
  width: 80%;
}

@media only screen and (max-width: 1400px) {
  .general-feature-heading {
    font-size: 1.2vw;
  }
}

@media only screen and (max-width: 1024px) {
  .general-feature-heading {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 400px) {
  .general-feature-heading {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 330px) {
  .general-feature-heading {
    margin: 2rem 0;
  }
}

.general-feature-line {
  margin-top: 4rem;
  width: 30%;
  border: 1px solid #316cff;
}

@media only screen and (max-width: 1024px) {
  .general-feature-line {
    display: none;
  }
}

.general-feature-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  background-color: #151924;
}

.general-feature-video {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 400px) {
  .general-feature-video {
    display: none;
  }
}

.general-feature-video--mobile-small {
  -o-object-fit: contain !important;
  object-fit: contain !important;
}

@media only screen and (min-width: 401px) {
  .general-feature-video--mobile-small {
    display: none !important;
  }
}

.general-feature-video--mobile {
  -o-object-fit: cover;
  object-fit: cover;
  padding: 2rem 0;
  display: block !important;
}

@media only screen and (min-width: 401px) {
  .general-feature-video--mobile {
    display: none !important;
  }
}

#interested {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  background: rgba(32, 38, 56, 0.9) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

footer {
  background-color: #fff;
  width: 95%;
  margin: 0 auto;
}

#menu {
  width: 100%;
  height: 100vh;
  background-color: #1b2030;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  #menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.close-btn {
  color: #000;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1024;
  -webkit-transition: -webkit-transform 2s ease;
  transition: -webkit-transform 2s ease;
  transition: transform 2s ease;
  transition: transform 2s ease, -webkit-transform 2s ease;
}

.close-btn:hover {
  -webkit-transform: rotateZ(720deg);
  transform: rotateZ(720deg);
}

@media only screen and (max-width: 1400px) {
  .close-btn {
    top: 7.5%;
  }
}

@media only screen and (max-width: 1024px) {
  .close-btn {
    top: 6%;
    right: 7.5%;
  }
}

@media only screen and (max-width: 1600px) {
  .close-img {
    width: 3rem;
  }
}

@media only screen and (max-width: 1400px) {
  .close-img {
    width: 2.8rem;
  }
}

.menu-item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.menu-item--light {
  background-color: rgba(255, 255, 255, 0.01);
}

.menu-item--dark {
  background-color: rgba(21, 25, 36, 0.2);
}

.menu-item--left {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.menu-item--right {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.menu-inner {
  width: 800px;
  height: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1600px) {
  .menu-inner {
    width: 600px;
    height: 600px;
  }
}

@media only screen and (max-width: 1024px) {
  .menu-inner {
    width: 400px;
    height: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .menu-inner {
    width: 300px;
    height: 300px;
  }
}

#video-intro {
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 0;
  background-color: #151924;
}

.video-intro {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (max-width: 500px) {
  .video-intro {
    -o-object-fit: contain;
    object-fit: contain;
  }
}

.stop-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  display: none;
}

@media only screen and (max-width: 450px) {
  .stop-btn {
    width: 7.5rem;
  }
}

#intro {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #151924;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.intro-logo {
  width: 15rem;
  -webkit-transform: translateY(-2rem) scale(0);
  transform: translateY(-2rem) scale(0);
  z-index: 1;
  opacity: 0;
}

@media only screen and (max-width: 800px) {
  .intro-logo {
    width: 10rem;
  }
}

@media only screen and (max-width: 500px) {
  .intro-logo {
    width: 7.5rem;
  }
}

.intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.intro-logo-text {
  width: 45rem;
}

@media only screen and (max-width: 800px) {
  .intro-logo-text {
    width: 20rem;
  }
}

.intro-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #151924;
}

#footer {
  width: 95%;
  margin: 0 auto;
  /* height: 65rem; */
  position: relative;
  text-align: center;
  padding: 26rem 0 0;
  overflow: hidden;
  background-color: white;
}

@media only screen and (max-width: 1650px) {
  #footer {
    padding: 18rem 0 0;
    /* height: 55rem; */
  }
}

@media only screen and (max-width: 1450px) {
  #footer {
    padding: 18rem 0 0;
  }
}

@media only screen and (max-width: 1000px) {
  #footer {
    height: auto;
    padding: 5rem 5rem 3rem;
  }
}

@media only screen and (max-width: 600px) {
  #footer {
    text-align: left;
  }
}

.footer-glassmorphism {
  background: rgba(32, 38, 56, 0.9) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
}

.footer-container {
  max-width: 900px;
  width: 80vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 5rem 0 3rem;
  text-align: left;
  position: relative;
  z-index: 1;
}

.footer-container:last-child {
  padding: 0;
  display: block;
}

@media only screen and (max-width: 600px) {
  .footer-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.footer-logo {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 1000px) {
  .footer-logo {
    -webkit-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
  }
}

@media only screen and (max-width: 400px) {
  .footer-logo {
    width: 9rem;
  }
}

@media only screen and (max-width: 600px) {
  .footer-item {
    width: 200px;
    margin-bottom: 3rem;
  }
}

.footer-heading {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 1.5rem;
}

.footer-link {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
  opacity: 0.5;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.footer-link:hover {
  opacity: 1;
}

.footer-link:not(:last-child) {
  margin-bottom: 1.25rem;
}

.footer-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  z-index: 0;
}

@media only screen and (max-width: 1450px) {
  .footer-img {
    width: 120%;
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}

@media only screen and (max-width: 1120px) {
  .footer-img {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 130%;
  }
}

@media only screen and (max-width: 1000px) {
  .footer-img {
    width: 400%;
  }
}

.footer-divider {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .footer-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}

.legal-notes {
  opacity: 1;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 500px) {
  .legal-notes {
    margin-bottom: 1rem !important;
    text-decoration: underline;
  }
}

#legal-notes {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: white;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-y: scroll;
}

.legal-notes-container {
  max-width: 500px;
  width: 90vw;
  opacity: 0;
}

.legal-notes-container .primary-heading,
.legal-notes-container .paragraph {
  margin-bottom: 3rem;
}

.legal-notes-container ol {
  border: 1px solid rgba(21, 25, 36, 0.1);
  padding: 2rem 5rem;
  height: 500px;
  overflow-y: scroll;
  border-radius: 1rem;
}

@media only screen and (max-height: 800px) {
  .legal-notes-container ol {
    height: 400px;
  }
}

@media only screen and (max-height: 600px) {
  .legal-notes-container ol {
    height: 250px;
  }
}

@media only screen and (max-height: 500px) {
  .legal-notes-container ol {
    height: 100px;
  }
}

.legal-notes-container ol li {
  color: #151924;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.7;
}

.legal-notes-container ol li:not(:last-child) {
  margin-bottom: 2rem;
}

#faqs {
  width: 95%;
  margin: 0 auto;
  background-color: #151924;
  margin-top: 2.5vh !important;
  border-radius: 2rem 2rem 0 0;
  background: rgba(32, 38, 56, 0.9) !important;
  backdrop-filter: blur(30px) !important;
  -webkit-backdrop-filter: blur(30px) !important;
}

#faqs .primary-heading {
  text-align: center;
  margin: 0 0 10rem;
}

@media only screen and (max-width: 400px) {
  #faqs .primary-heading {
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 530px) {
  #faqs .container--hero {
    padding: 1rem 0;
  }
}

.faqcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100rem;
  height: 50rem;
  overflow-y: scroll;
  margin: 0 auto 5rem;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1200px) {
  .faqcontainer {
    width: 90%;
  }
}

@media only screen and (max-width: 700px) {
  .faqcontainer {
    width: 100%;
  }
}

@media only screen and (max-width: 530px) {
  .faqcontainer {
    width: 90%;
    padding: 2rem;
  }
}

.faq {
  width: 100%;
  cursor: pointer;
  position: relative;
}

.faq:not(:last-child) {
  margin-bottom: 3rem;
}

.faq-logo {
  display: inline-block;
  text-align: center;
}

.faq-img {
  margin: 10rem 0 3rem;
}

@media only screen and (max-width: 400px) {
  .faq-img {
    width: 10rem;
    margin: 5rem auto 3rem;
  }
}

.ques {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 3rem 4rem;
}

@media only screen and (max-width: 500px) {
  .ques {
    padding: 2rem 3rem;
  }
}

@media only screen and (max-width: 330px) {
  .ques {
    padding: 2rem 1.5rem;
  }
}

.num {
  padding: 2rem 1.8rem;
  border-radius: 50%;
  color: #316cff;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
  background-color: rgba(49, 108, 255, 0.1);
  margin-right: 5rem;
}

@media only screen and (max-width: 1200px) {
  .num {
    font-size: 1.8rem;
    margin-right: 3rem;
  }
}

.text {
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
}

@media only screen and (max-width: 1200px) {
  .text {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 850px) {
  .text {
    font-size: 1.1rem;
  }
}

.lkblue {
  color: #316cff;
}

.lkgrey {
  color: #bfc1c7;
}

.ans {
  display: none;
  padding: 5rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7;
}

@media only screen and (max-width: 500px) {
  .ans {
    padding: 5rem 0;
  }
}

.right-arrow {
  position: absolute;
  top: 5.3rem;
  right: 5rem;
  width: 1rem;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.right-arrow--active {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}

@media only screen and (max-width: 600px) {
  .right-arrow {
    display: none;
  }
}

.video-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-top: 5rem;
}
/*# sourceMappingURL=style.css.map */
