*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro{
    width: 100%;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d1{
    font-size: 5rem;
    letter-spacing: 0.1rem;
}