@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Hind+Siliguri&family=Kaushan+Script&family=Quicksand&family=Share+Tech+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff; 
}

a{
  text-decoration: none;
}

.nooverflow{
  overflow: hidden;
}

img {
  width: 100%;
}

.cinzel {
  font-family: "Cinzel", serif;
}

.hind {
  font-family: "Hind Siliguri", sans-serif;
}

.kushan {
  font-family: "Kaushan Script", cursive;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.mono {
  font-family: "Share Tech Mono", monospace;
}

.typed-cursor {
  font-size: 1.5rem;
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

.bgvid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  opacity: 0.7;
  object-fit: cover;
  object-position: center;
  z-index: -1;
}

#intro{
  overflow: hidden;
  padding: 5rem 6rem 0;
  width: 100%;
}

.intro{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#intro p,#introtxt{
  font-size: 4rem;
  text-align: center;
}

.seeport {
  display: block;
  padding: 0rem 2rem 2rem;
  color: #fff;
  text-align: center;
}

.seeport i{
  display: block;
  margin-top: 1rem;
}

#cake {
  cursor: pointer;
  letter-spacing: 0.1rem;
}

#cake2 {
  cursor: pointer;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 5rem;
  padding: 0.8rem 2rem;
  text-align: center;
  transition: 200ms ease;
}

#cake2:hover {
  letter-spacing: 0.5rem;
}

.nav {
  z-index: 90;
  position: absolute;
  color: #000;
  top: 0;
  right: 0;
  padding: 2rem;
}

.logo {
  z-index: 90;
  position: absolute;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
}

.logo a {
  color: #fff;
}

.social {
  z-index: 90;
  position: absolute;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  bottom: 0;
  padding: 2rem;
}

.mail {
  z-index: 90;
  position: absolute;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  bottom: 0;
  right: 0;
  padding: 0rem;
  transform: rotate(90deg) translate(-70%, -70%);
}

.mail a{
  color: #fff;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
}

.social a{
  color: #fff;
  display: block;
  margin-top: 1rem;
}

.social a:last-child{
  display: none;
}

.navdark {
  z-index: 90;
  position: absolute;
  color: #fff;
  top: 0;
  right: 0;
  padding: 2rem;
}

#menu {
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  position: fixed;
  background-color: #fff;
  color: #000;
  z-index: 99;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateX(100%);
  transition: 800ms cubic-bezier(0.07, 0, 1, -0.48);
}

#menu.active {
  transform: translateX(0%);
  transition: 800ms cubic-bezier(0.21, 1.6, 0.44, 1);
}

#link {
  color: #000;
  text-decoration: none;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  line-height: 5rem;
  padding: 0.8rem 2rem;
}

#link:hover {
  background-color: #000;
  color: #fff;
  transition: 500ms cubic-bezier(0.2, 0.79, 0.46, 0.97);
}

.section{
  background-color: #000;
  min-height: 100vh;
  color: #fff;
}

@media screen and (max-width: 600px){

  #intro{
    padding: 6rem 1rem;
  }

  #intro p,#introtxt {
    text-align: left;
    font-size: 4rem;
  }

  .intro{
    align-items: flex-start;
  }

  .intro div{
    display: none;
  }

  .seeport{
    padding: 0 1rem 1rem;
    text-align: left;
  }

  .mail{
    display: none;
  }

  .social a:last-child{
    display: block;
  }

  .social{
    right: 0;
    padding: 2rem 1rem;
  }

  .navdark{
    padding: 2rem 1rem;
  }

  .logo{
    font-size: 1.5rem;
    line-height: 0.7rem;
    padding: 2rem 1rem;
  }
}

@media screen and (max-height: 600px){
  .mail{
    display: none;
  }

  .social{
    font-size: 1.5rem;
  }

  .social a:last-child{
    display: block;
  }

  #intro p,#introtxt {
    font-size: 3rem;
  }
}