:root {
  scrollbar-width: thin;
  scrollbar-color: #600c1b #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #600c1b;
}

body {
  width: 100%;
  background-color: #000;
  overflow-x: hidden;
}

.videoc {
  position: fixed;
  pointer-events: none;
  z-index: -2;
}

.videoc video {
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}

header {
  /* padding: 2rem; */
  min-height: 100vh;
  position: relative;
}

.logo {
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.swiper-container {
  background-color: transparent;
  width: 100%;
  height: 100vh;
}

.swiper-slide {
  width: 100%;
  height: 100vh;
}

header span {
  font-size: 4rem;
  color: #fff;
  position: absolute;
  cursor: default;
}

footer {
  background-image: linear-gradient(to top, #000, transparent);
  padding: 2rem 2rem;
  color: #fff;
}

.footerflex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerlinks:nth-child(1) {
  text-align: left;
}

.footerlinks:nth-child(2) {
  text-align: center;
}

.footerlinks:nth-child(3) {
  text-align: right;
}

.footerflex a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  transition: all 1s ease;
}

.footerflex a:hover {
  letter-spacing: 0.3rem;
}

.footerlinks {
  width: 30%;
}

.one {
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 3s ease 3s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.two {
  top: 50%;
  left: 9rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 3s ease 3.5s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.three {
  top: 50%;
  left: 20rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 3s ease 4s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.four {
  top: 50%;
  left: 29rem;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  animation: move 1s ease 4.5s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  transition: border 1s ease;
  border-bottom: 4px solid transparent;
}

.four:hover {
  border-bottom: 4px solid white;
}

.five {
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 3s ease 7.5s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.six {
  top: 50%;
  left: 9rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 3s ease 8s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.seven {
  top: 50%;
  left: 23rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 3s ease 8.5s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.eight {
  top: 50%;
  left: 32rem;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  animation: move2 1s ease 9s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  transition: border 1s ease;
  border-bottom: 4px solid transparent;
}

.eight:hover {
  border-bottom: 4px solid white;
}

.nine {
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 3s ease 12s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.ten {
  top: 50%;
  left: 18rem;
  transform: translateY(-50%) translateX(-50%);
  opacity: 0;
  animation: move3 2.5s ease 12.5s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  transition: border 1s ease;
  border-bottom: 4px solid transparent;
}

.ten:hover {
  border-bottom: 4px solid white;
}

.eleven {
  top: 50%;
  left: 28rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 2.5s ease 13s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.twelve {
  top: 50%;
  left: 31rem;
  transform: translateY(-50%);
  opacity: 0;
  animation: opacity 2.5s ease 13.5s;
  animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes opacity {
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes move {
  50% {
    opacity: 1;
    top: 50%;
    left: 29rem;
  }

  100% {
    top: 80%;
    left: 25%;
    opacity: 1;
    cursor: pointer;
  }
}

@keyframes move2 {
  50% {
    opacity: 1;
    top: 50%;
    left: 32rem;
  }

  100% {
    top: 80%;
    left: 50%;
    opacity: 1;
    cursor: pointer;
  }
}

@keyframes move3 {
  20% {
    opacity: 1;
    top: 50%;
    left: 18rem;
  }

  60% {
    opacity: 1;
    top: 50%;
    left: 18rem;
  }

  80% {
    top: 80%;
    left: 75%;
    opacity: 1;
  }

  100% {
    top: 80%;
    left: 75%;
    opacity: 1;
    cursor: pointer;
  }
}

.global {
  color: #fff;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.global h1 {
  font-size: 4rem;
  width: 50%;
  font-weight: 400;
}

.global p {
  width: 50%;
  font-size: 1.5rem;
  margin: 2rem 0;
}

.global a {
  color: #fff;
}

.about {
  padding: 25vh 2rem 0;
  color: #fff;
}

.about h1 {
  font-size: 4rem;
  font-weight: 400;
}

.about p {
  font-size: 1.5rem;
  margin: 2rem 0;
}

.about a {
  color: #600c1b;
}

ol,
ul {
  margin-left: 2rem;
  font-size: 1.2rem;
}

.join {
  color: #fff;
  width: 50vw;
  padding: 4rem 0;
  margin: 0 auto;
  text-align: center;
}

.formscroll {
  height: 50vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 2rem 0;
  padding: 0 1rem;
  scrollbar-width: thin;
  scrollbar-color: #600c1b #fff;
}

.formscroll form {
  width: 100%;
}

.formscroll form input {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 2px solid #fff;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.6s ease;
}

.formscroll form input:focus {
  font-size: 1rem;
  background-color: #fff;
  color: #000;
}

.formscroll form input::placeholder {
  font-size: 1rem;
  color: #fff;
}

.formscroll form input::-moz-placeholder {
  font-size: 1rem;
  color: #fff;
  opacity: 1;
}

.formscroll form select {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 2px solid #fff;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.6s ease;
}

.formscroll form textarea {
  width: 100%;
  display: block;
  background-color: transparent;
  border: 2px solid #fff;
  margin-bottom: 1rem;
  padding: 0.8rem 1rem;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.6s ease;
}

.formscroll form textarea:focus {
  font-size: 1rem;
  background-color: #fff;
  color: #000;
}

.formscroll form textarea::placeholder {
  font-size: 1rem;
  color: #fff;
}

.formscroll form textarea::-moz-placeholder {
  font-size: 1rem;
  color: #fff;
  opacity: 1;
}

.formscroll form input[type="submit"] {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.formscroll form input[type="submit"]:hover {
  background-color: #600c1b;
  color: #fff;
  border: 2px solid #600c1b;
}

.formscroll option {
  color: #000;
}

.donation {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  color: #fff;
}

.donationleft {
  height: 100vh;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donationleft p {
  font-size: 2rem;
  vertical-align: middle;
}

.donationright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 2rem;
  font-size: 1.2rem;
}

.paymodel {
  width: 100%;
  margin-bottom: 2rem;
}

.paymodel label {
  border: 2px solid #fff;
  padding: 0.8rem 1rem;
  cursor: pointer;
  transition: 0.6s ease;
}

.labelchecked {
  background-color: #fff;
  color: #000;
}

.paymodel input {
  visibility: hidden;
}

.paymodelflex {
  display: flex;
  justify-content: space-between;
}

.payamount input {
  display: inline-block;
  margin-bottom: 1rem;
  cursor: pointer;
}

.payamount label {
  margin-left: 1rem;
  cursor: pointer;
}

.paybtn {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.paybtn input {
  width: 50%;
  background-color: #fff;
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  transition: 0.6s ease;
}

.paybtn input:hover {
  background-color: #600c1b;
  color: #fff;
}

.paybtn input:first-child {
  margin-right: 0.5rem;
}

.paybtn input:last-child {
  margin-left: 0.5rem;
}
